#background{
    background-color: #AB2330;

}

#addAMovieForm{
    display: flex;
    flex-direction: column;
}

#MovieTitle{
    border-radius: 5px;
}

.movieCard{
    margin-top:25px ;
    margin-bottom: 25px;
    min-width: 150px;
    min-height: 200px;
    border-radius: 25px;
}



.image{
    border: gold 7px solid;
    margin-bottom: 5px;
    max-height: 350px;
    max-width: 200px;
}